:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-dark1: #2c2c2c;
  --color-dark2: #242323;
  --color-yelow1: #facc15;
  --color-blue1: #747bff;
  --color-blue2: #a7abfa;
  --color-blue3: #4e5072;
  --color-red1: #cf3131;

  --dark-gray: #a9a9a9;
  --light-gray: #d3d3d3;

  --fg: #ffffffde;
  --input: #2e3138;

  --dur: 1s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  justify-content: space-between;
}

h2 {
  font-family: inherit;
  color: var(--color-blue1);
}

.links {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

a {
  text-decoration: none;
  padding: 0.5rem;
  /* border: 1px solid var(--color-blue2); */
}

.app,
.steps {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark1);
  padding: 1rem;
  width: 900px;
}
/*****************/
/*** stepslider***/
/*****************/
.steps {
  width: 550px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  font-size: 1.2rem;
}

.numbers {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
  color: var(--fg);
}

.active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue1);
}

.steps-msg {
  font-size: 1.3rem;
  color: var(--dark-gray);
}

.steps-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
}

.close:hover {
  color: var(--color-blue1);
}
/*****************/
/*****************/
/*****************/
.btn {
  width: 130px;
  height: 50px;
  background-color: var(--color-blue1);
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
  margin: 0 5px;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--color-blue3);
  scale: 1.1;
  /* box-shadow: inset 0px 0px 30px 0px var(--color-blue2); */
}
